.rightp {
	color: #759252;
}

.box-nav {
	padding-left: 310px;
	margin-top: -40px;
	padding-bottom: 40px;
}

.navlink {
	display: inline;
}

.navrow {
	color: #759252;
	display: inline;
}

.overbox {
	width: 100px;
	height: 150px;
	p {
	font-size: .7em;
	margin: 0 0 20px;
	color: #759252;
	}
}

.box {
	width: 100px;
	height: 100px;
	background-color: #ECFAD3;
}

.p2 {
	margin-top: -50px;
}