@import "variables";
@import "headings";

.header {
	background-color: #d5f1f0;
}

.header .row {
	background-color: white;
}

.header-container {
	background-color: white;
	width: 25%;
}

.header-button {
	display: inline;
	padding: 10px;
}

.nav {
	background-color: #f5cad3;
}

.item {
	display: inline;
}