@import "variables";
@import "headings";

@font-face {
	font-family: 'Corben', cursive;
	font-family: 'Nobile', sans-serif;
}

.header {
	background-color: #d5f1f0;
}

.header .row:first-child {
	background-color: #d5f1f0;
	margin-bottom: 20px;
}

.header .row {
	background-color: white;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
}


h1 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    line-height: 55px;
}

p {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
}

.btn {
	color: white;
}

.tagline {
	padding-top: 10px;
	padding-left: 140px;
}

.nav_ul .primary {
	background-color: #77C4D0;
	border: 1px solid #77C4D0;
}

.nav_ul .secondary {
	background-color: #87B73B;
	border: 1px solid #87B738;
}

.nav_ul .warning {
	color: white;
	background-color: #72288B;
	border: 1px solid #72288B;
}

.nav_ul .danger {
	background-color: #ED008B;
	border: 1px solid #ED008B;
}

.nav_ul {
	text-align: right;
	padding-top: 60px;
	padding-right: 50px;
}

.nav_ul li {
	text-align: center;
	display: inline;
	margin-right: 10px;
}

.header-button {
	padding: 0 18px;
	display: inline;
}

.row {
	padding: 0;
	background-color: white;
}

.sign {
	background-color: #d5f1f0;
	width: 100%;
}

.header-container {
	background-color: white;
	width: 25%;
}

.header-button {
	display: inline;
}

ul {
	margin-bottom: 0;
}

.logo {
	margin-left: 5px;
	margin-top: -30px;
}

.input {
	border-radius: 500px;
	-moz-border-radius: 500px;
	-webkit-border-radius: 500px;
}

.nav {
	background-color: #f5cad3;
	text-align: center;
}

.item {
	display: inline;
	margin: 0 2%;
	padding: 0 8px;
}

.content {
	background-color: #74CCD1;
	height: 100%;
}

.top, .mid-top, .mid-bottom, .bottom {
	background-color: white;
	height: 100px;
	margin: 0;
	padding: 0;
}

.twins {
	margin-top: 20px;
}

.twins, .triplets, .quads {
	padding-right: 20px;
}

.blue_owl {
	text-align: center;
	width: 550px;
	float: right;
	padding-top: 10px;
	font-size: 24px;
	color: #27A9B4;
	margin-bottom: 0;
}

.owl {
	margin-left: 40px;
	height: 50px;
}

.shop {
	margin-left: 80px;
}

.tree {
	float: right;
}

.callout {
	padding: 20px 30px;
}

.owl_head {
	padding-top: 20px;
	padding-left: 50px;
	color: #8BBA40;
	font-weight: bold;
}

.content .bottomrow {
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
}

.linkrow {
	background-color: #74CCD1;
	text-align: center;
}

.bottomlink {
	padding-right: 10px;
	padding-left: 5px;
	color: white;
	display: inline
}

.item a, {
	color: black;
	font-weight: bold;
}

.content-wrap-left {
	background-color: #e9fbc7;
	margin: 20px 0px 20px 20px;
}

.content-wrap-right {
	background-color: #e9fbc7;
	margin: 20px 20px 20px 0;
}