doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied
    link(rel="stylesheet" href="/vendor/gumby/css/gumby.css")
    link(rel="stylesheet" href="/css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    // Brennan

    .header
      .header-container
        img.logo(src="/img/savings-multiplied-logo.png")
        ul
          li.header-button About
          li.header-button Contact
          li.header-button Blog
          li.header-button Press

    .nav
      ul
        li.item Buy
        li.item Sell
        li.item How it Works
        li.item Links
        li.item Community

    .content
