doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied
    link(rel="stylesheet" href="/vendor/gumby/css/gumby.css")
    link(rel="stylesheet" href="/css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    // Brennan
    .header
      .row
        .ten.columns
        .two.columns.sign
          a(href='#') sign up | sign in
      .row
        .four.columns
          img.logo(src="/img/savings-multiplied-logo.png")
        .eight.columns
          ul
            li.header-button.about.medium.btn.pill-left.default About
            li.header-button.medium.squared.btn.default.contact Contact
            li.header-button.medium.squared.btn.default.blog Blog
            li.header-button.medium.btn.pill-right.default.press Press
            img.tagline(src="/img/tagline.png")
    .nav
      ul
        li.item Buy
        li.item Sell
        li.item How it Works
        li.item Links
        li.item Community
        li.item 
          input.input( type="text" placeholder="Search...")

    .content
      .row
        .eight.columns
        .four.columns
      .row
        .eight.columns
        .four.columns
      .row
        .eight.columns
        .four.columns
      .row
        .eight.columns
        .four.columns