doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied
    link(rel="stylesheet" href="/vendor/gumby/css/gumby.css")
    link(rel="stylesheet" href="/css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    // Brennan

    .header
      img.logo(src="/img/savings-multiplied-logo.png")

    .nav
      ul
        li.item About
        li.item Contact
        li.item Blog
        li.item Press

    // Elisha

    .content
        .centered ten columns
            p Insert Text here