doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied
    link(rel="stylesheet" href="/vendor/gumby/css/gumby.css")
    link(rel="stylesheet" href="/css/main.css")
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script(src="/vendor/modernizr/modernizr.js")

  body

    .header
      .row
        .ten.columns
        .two.columns.sign
          a(href='#') sign up | sign in
      .row
        .four.columns
          img.logo(src="/img/savings-multiplied-logo.png")
        .eight.columns
          ul.nav_ul
            li.medium.btn.pill-left.primary
              .header-button.about About
            li.medium.squared.btn.success
             .header-button.contact Contact
            li.medium.squared.btn.warning
             .header-button.blog Blog
            li.medium.btn.pill-right.danger
             .header-button.press Press
          img.tagline(src="/img/tagline.png")
    .nav
      ul
        li.item
          a(href='#') Buy
        li.item
          a(href='#') Sell
        li.item
          a(href='index.html') How it Works
        li.item
          a(href='#') Links
        li.item
          a(href='#') Community
        li.item
          input.input( type="text" placeholder="Search...")

    .content
      .row
        .four.columns
          .content-wrap-left
            form
              h5 Limit your search by:
                input(type="text" placeholder="overalls...")
                form
                  input(type="radio" name="New")
                  label New
                  br
                  input(type="radio" name="Used")
                  label Gently Used
                  h6 Size:
                      input(type="radio" name="4")
                      label(for="4") 4
                      br
                      input(type="radio" name="5")
                      label(for="5") 5
                      br
                      input(type="radio" name="6")
                      label(for="6") 6
                      br
                      input(type="radio" name="7")
                      label(for="7")
                      input(type="radio" name="8")
                      label(for="8") 8
                      br
                      input(type="radio" name="9")
                      label(for="9") 9
                      br
                      input(type="radio" name="10")
                      label(for="10") 10
                      br
                      input(type="radio" name="11")
                      label(for="11") 11
                  h6 Season:
                      input(type="radio" name="All")
                      label(for="All") All Seasons
                      br
                      input(type="radio" name="Winter")
                      label(for="Winter") Winter
                      br
                      input(type="radio" name="Fall")
                      label(for="Fall") Fall
                      br
                      input(type="radio" name="Spring")
                      label(for="Spring") Spring
                      br
                      input(type="radio" name="Summer")
                      label(for="Summer") Summer
                  h6 Type:
                      input(type="radio" name="Any")
                      label(for="Any") Any
                      br
                      input(type="radio" name="One")
                      label(for="One") One-Piece
                      br
                      input(type="radio" name="Tops")
                      label(for="Tops") Tops
                      br
                      input(type="radio" name="Bottoms")
                      label(for="Bottoms") Bottoms
                  h6 Brand:
                    select
                      option Jack and Jill
                      option Garanimals
                      option Osh Kosh
                      option Gap
                      option Old Navy
                      option Rothschild
                      option Beanpole
                      option Blue Ivy
                      option Juicy
                      option Hello Kitty


        .eight.columns
          .content-wrap-right
            .row
              p.rightp All > Twin > B/G
            .row
              p.rightp Sort by:
                select
                  option(value="Price") Price
                  option(value="Size") Size
                  option(value="Condition") Condition
              ul.box-nav
                li.navlink
                  a.navrow(href='#') prev.
                li.navlink
                  p.navrow |
                li.navlink
                  a.navrow(href='#') page num.
                li.navlink
                  p.navrow |
                li.navlink
                  a.navrow(href='#') next
                li.navlink
                  p.navrow |
                li.navlink
                  a.navrow(href='#') view all
                li.navlink
                  p.navrow |

           #content.row


      .row.linkrow
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here

   script(src="/js/main.js")

