doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Savings Multiplied
    link(rel="stylesheet" href="/vendor/gumby/css/gumby.css")
    link(rel="stylesheet" href="/css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    // Brennan
    .header
      .row
        .ten.columns
        .two.columns.sign
          a(href='#') sign up | sign in
      .row
        .four.columns
          img.logo(src="/img/savings-multiplied-logo.png")
        .eight.columns
          ul.nav_ul
            li.medium.btn.pill-left.primary
              .header-button.about About
            li.medium.squared.btn.success
             .header-button.contact Contact
            li.medium.squared.btn.warning
             .header-button.blog Blog
            li.medium.btn.pill-right.danger
             .header-button.press Press
          img.tagline(src="/img/tagline.png")
    .nav
      ul
        li.item
          a(href='#') Buy
        li.item
          a(href='#') Sell
        li.item
          a(href='index.html') How it Works
        li.item
          a(href='#') Links
        li.item
          a(href='#') Community
        li.item
          input.input( type="text" placeholder="Search...")

    .content
      .row
        .four.columns
          .content-wrap-left
            p Limit your search by:
            hr 
            ul
              li.item
                input.input( type="text" placeholder="") 
                .medium.oval.btn.default 
                  .content-button.search Search
            
            ul.ulname 
              li.formli 
                span Condition:
                ul.formli
                  li.field
                    label.radio.checked(for="new") 
                      input#new(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text New  
                  li.field
                    label.radio.checked(for="gentlyused") 
                      input#gentlyused(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text Gently Used  
            ul.ulname
              li.formfield
                span Size
                ul
                  li.formli 
                    label.radio.checked(for="size4") 
                      input#size4(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text 4 
                  li.formli 
                    label.radio.checked(for="size8") 
                      input#size8(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text 8 
                ul
                  li.formli 
                    label.radio.checked(for="size5") 
                      input#size5(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text 5 
                  li.formli 
                    label.radio.checked(for="size9") 
                      input#size9(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text 9
                ul
                  li.formli 
                    label.radio.checked(for="size6") 
                      input#size6(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text 6
                  li.formli 
                    label.radio.checked(for="size10") 
                      input#size10(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text 10 
                ul
                  li.formli 
                    label.radio.checked(for="size7") 
                      input#size7(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text 7 
                  li.formli 
                    label.radio.checked(for="size11") 
                      input#size11(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text 11 

            ul.ulname
              li.formfield
                span Size
                ul
                  li.formli 
                    label.radio.checked(for="allseasons") 
                      input#allseasons(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text All Seasons 
                ul  
                  li.formli 
                    label.radio.checked(for="Spring") 
                      input#size4(name="radio" value="Spring" type="radio" checked="checked")
                      span
                      button-text Spring
                ul  
                  li.formli 
                    label.radio.checked(for="Summer") 
                      input#Summer(name="radio" value="Spring" type="radio" checked="checked")
                      span
                      button-text Summer
                ul
                  li.formli 
                    label.radio.checked(for="Fall") 
                      input#Fall(name="radio" value="Spring" type="radio" checked="checked")
                      span
                      button-text Fall
                ul  
                  li.formli 
                    label.radio.checked(for="Winter") 
                      input#Winter(name="radio" value="Spring" type="radio" checked="checked")
                      span
                      button-text Winter

            ul.ulname
              li.formfield
                span Type
                ul
                  li.formli 
                    label.radio.checked(for="any") 
                      input#any(name="radio" value="1" type="radio" checked="checked")
                      span
                      button-text Any
                ul  
                  li.formli 
                    label.radio.checked(for="onepiece") 
                      input#onepiece(name="radio" value="Spring" type="radio" checked="checked")
                      span
                      button-text One-Piece
                ul
                  li.formli 
                    label.radio.checked(for="tops") 
                      input#tops(name="radio" value="Spring" type="radio" checked="checked")
                      span
                      button-text Tops            
                ul
                  li.formli 
                    label.radio.checked(for="bottoms") 
                      input#bottoms(name="radio" value="Spring" type="radio" checked="checked")
                      span
                      button-text Bottoms 
            ul
              li.field
                .picker
                  select 
                    option Jack and Jill
                    option Garanimals
                    option Osh Kosh
                    option Gap
                    option Old Navy
                    option Rothschild
                    option Beanpole
                    option Blue Ivy
                    option Juicy
                    option Hello Kitty 


        .eight.columns
          .content-wrap-right
            .row
              p.rightp All > Twin > B/G
            .row
              p.rightp Sort by:
                select 
                  option(value="Price") Price
                  option(value="Size") Size
                  option(value="Condition") Condition
              ul.box-nav
                li.navlink
                  a.navrow(href='#') prev.
                li.navlink
                  p.navrow |
                li.navlink
                  a.navrow(href='#') page num.
                li.navlink
                  p.navrow |
                li.navlink
                  a.navrow(href='#') next
                li.navlink
                  p.navrow |
                li.navlink
                  a.navrow(href='#') view all
                li.navlink
                  p.navrow |
            .row
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
            .row
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
            .row
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
            .row
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
              .three.columns
                .overbox
                  .box
                  p Sailor Suits $15.00 Jane Joe 4 hours
      .row.linkrow
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here
        p.p2.bottomlink |
        a.p2.bottomlink(href='#') Link Here

    script(src="/vendor/jquery/dist/jquery.min.js")  
    
    script(src="/vendor/modernizr/modernizr.js")  

    script(src="/vendor/gumby/js/libs/gumby.min.js")